<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Boutique</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/fontawesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/fontawesome/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/datatables/datatables.min.css}">
    <link rel="stylesheet" th:href="@{/css/feathericon.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/morris/morris.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div class="main-wrapper">

    <!-- --><div class="header">
    <div class="header-left">
        <a href="/" class="logo"> <img th:src="@{/img/hotel_logo.png}" width="50" height="70"  alt="logo">
            <span class="logoclass">Boutique</span> </a>
        <a href="/" class="logo logo-small"> <img th:src="@{/img/hotel_logo.png}" alt="Logo" width="30"
                                                  height="30"> </a>
    </div>
    <a href="javascript:void(0);" id="toggle_btn"> <i class="fe fe-text-align-left"></i> </a>
    <a class="mobile_btn" id="mobile_btn"> <i class="fas fa-bars"></i> </a>
    <ul class="nav user-menu">
        <li class="nav-item dropdown has-arrow">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <span
                    class="user-img"><img class="rounded-circle" th:src="@{/img/profiles/avatar-01.jpg}"
                                          width="31" alt="Soeng Souy"></span> </a><!--th:text="${article.id}" -->
            <div class="dropdown-menu">
                <div class="user-header">
                    <div class="avatar avatar-sm"> <img th:src="@{/img/profiles/avatar-01.jpg}" alt="User Image"
                                                        class="avatar-img rounded-circle"> </div>
                    <div class="user-text">
                        <h6>TEAM DAVLOLO</h6>
                        <p class="text-muted mb-0">Administrator</p>
                    </div>
                </div>
                <a class="dropdown-item"
                   th:href =" @{login} ">Déconnexion</a>
            </div>
        </li>
    </ul>
    <div class="top-nav-search">
        <form>
            <input type="text" class="form-control" placeholder="Cherche ici">
            <button class="btn" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
</div>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="active"> <a href="/"><i class="fas fa-tachometer-alt"></i>
                        <span>Dashboard</span></a> </li>
                    <li class="list-divider"></li>
                    <li > <a th:href =" @{/article/afficher} "> <span> Articles </span></a>
                    </li>
                    <li > <a th:href =" @{/categorie/afficher} "> <span> Catégorie</span></a></li>
                    <li >
                        <a th:href =" @{/article/Affichervente} "> <span> vente </span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="mt-5">
                            <h4 class="card-title float-left mt-2">Toutes les Catégories</h4>
                            <form th:action="@{/categorie/nouveau}" method="post">
                                <button  type="submit" class="btn btn-primary float-right veiwbutton">Ajouter une categorie </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered display" >
                                    <thead class="bg-success text-white">
                                    <tr>
                                        <th class="text-center"> ID</th>
                                        <th class="text-center"> Designation</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="categorie:${listCategorie}">
                                        <td class="text-center" th:text="${categorie.id}"></td>
                                        <td class="text-center" th:text="${categorie.designation}"></td>

                                        <td class="text-center">
                                             <a  th:href="@{/categorie/update/{id}(id=${categorie.id})}">
                                                 <span class="label-cate label-table label-warning"><i
                                                    class="fas fa-pencil-alt m-r-5"></i> </span></a>
                                             <a  th:href="@{/categorie/delete/{id}(id=${categorie.id})}">
                                               <span class="label-cate label-table label-danger">
                                                   <i class="fas fa-trash-alt m-r-5"></i></span></a>

                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="assets/js/jquery-3.5.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/plugins/raphael/raphael.min.js"></script>
<script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="assets/plugins/datatables/datatables.min.js"></script>
<script src="assets/js/script.js"></script>
</body>

</html>
