<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout=”http://www.ultraq.net.nz/thymeleaf/layout” >

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Boutique</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/fontawesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/fontawesome/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/datatables/datatables.min.css}">
    <link rel="stylesheet" th:href="@{/css/feathericon.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/morris/morris.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div class="main-wrapper">

    <!-- --><div class="header">
        <div class="header-left">
            <a href="/" class="logo"> <img th:src="@{/img/hotel_logo.png}" width="50" height="70"  alt="logo">
                <span class="logoclass">MAIRIE</span> </a>
            <a href="/" class="logo logo-small"> <img th:src="@{/img/hotel_logo.png}" alt="Logo" width="30"
                                                      height="30"> </a>
        </div>
        <a href="javascript:void(0);" id="toggle_btn"> <i class="fe fe-text-align-left"></i> </a>
        <a class="mobile_btn" id="mobile_btn"> <i class="fas fa-bars"></i> </a>
        <ul class="nav user-menu">
            <li class="nav-item dropdown has-arrow">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <span
                        class="user-img"><img class="rounded-circle" th:src="@{/img/profiles/avatar-01.jpg}"
                                              width="31" alt="Soeng Souy"></span> </a><!--th:text="${article.id}" -->
                <div class="dropdown-menu">
                    <div class="user-header">
                        <div class="avatar avatar-sm"> <img th:src="@{/img/profiles/avatar-01.jpg}" alt="User Image"
                                                            class="avatar-img rounded-circle"> </div>
                        <div class="user-text">
                            <h6>Soeng Souy</h6>
                            <p class="text-muted mb-0">Administrator</p>
                        </div>
                    </div> <a class="dropdown-item" href="/profile">Mon profile</a> <a class="dropdown-item"
                        th:href =" @{/setting} ">Paramètres du compte</a> <a class="dropdown-item"
                           th:href =" @{login} ">Déconnexion</a>
                </div>
            </li>
        </ul>
        <div class="top-nav-search">
            <form>
                <input type="text" class="form-control" placeholder="Cherche ici">
                <button class="btn" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="active"> <a href="/"><i class="fas fa-tachometer-alt"></i>
                        <span>Dashboard</span></a> </li>
                    <li class="list-divider"></li>
                    <li > <a th:href =" @{/article/afficher} "><span> Articles </span></a>
                    </li>
                    <li > <a th:href =" @{/categorie/afficher} "> <span> Catégorie</span></a></li>
                    <li >
                        <a th:href =" @{/approvisionnement/form} "> <span> Stock </span></a>
                    </li>
                    <li> <a th:href =" @{/approvisionnement/form} "><span>Vente</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12 mt-5">
                        <h3 class="page-title mt-3">Bonjour Soeng Souy!</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-5 col-sm-8 col-16">
                    <div class="card board1 fill">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <div>
                                    <h3 class="card_widget_header">236</h3>
                                    <h6 class="text-muted">Article totale</h6>
                                </div>
                                <div class="ml-auto mt-md-3 mt-lg-0"> <span class="opacity-7 text-muted"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewbox="0 0 24 24" fill="none" stroke="#009688" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-user-plus">
                                                <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                                <circle cx="8.5" cy="7" r="4"></circle>
                                                <line x1="20" y1="8" x2="20" y2="14"></line>
                                                <line x1="23" y1="11" x2="17" y2="11"></line>
                                            </svg></span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-sm-8 col-16">
                    <div class="card board1 fill">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <div>
                                    <h3 class="card_widget_header">180</h3>
                                    <h6 class="text-muted">Chambres disponibles</h6>
                                </div>
                                <div class="ml-auto mt-md-3 mt-lg-0"> <span class="opacity-7 text-muted"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewbox="0 0 24 24" fill="none" stroke="#009688" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-dollar-sign">
                                                <line x1="12" y1="1" x2="12" y2="23"></line>
                                                <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                                            </svg></span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="card card-chart">
                        <div class="card-header">
                            <h4 class="card-title">VISITEURS</h4>
                        </div>
                        <div class="card-body">
                            <div id="line-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="card card-chart">
                        <div class="card-header">
                            <h4 class="card-title">SALLES RÉSERVÉES</h4>
                        </div>
                        <div class="card-body">
                            <div id="donut-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex">
                    <div class="card card-table flex-fill">
                        <div class="card-header">
                            <h4 class="card-title float-left mt-2">Article</h4>
                            <a href="/all-booking" class="btn btn-primary float-right veiwbutton">Voir tout</a>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center">
                                    <thead>
                                    <tr>
                                        <th> ID</th>
                                        <th> CATEGORIE</th>
                                        <th> DATE DE CREATION</th>
                                        <th> LIBELLE</th>
                                        <th> PRIX</th>
                                        <th> QUANTITE SEUILLE</th>
                                        <th> QUANTITE EN STOCK</th>
                                        <th> ACTION</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="article:${listArticle}">
                                        <td th:text="${article.id}"></td>
                                        <td th:text="${article.categorie.designation}"></td>
                                        <td th:text="${article.dateCreation}"></td>
                                        <td th:text="${article.libelle}"></td>
                                        <td th:text="${article.prix}"></td>
                                        <td th:text="${article.qteSeuil}"></td>
                                        <td th:text="${article.qteStock}"></td>

                                        <td>
                                            <a th:href="@{/article/update/{id}(id=${article.id})}">Edit | </a>
                                            <a th:href="@{/article/delete/{id}(id=${article.id})}">Delete |</a>
                                            <a th:href="@{/approvisionnement/form/{id}(id=${article.id})}">Approvisionner </a>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script data-cfasync="false"  th:src="@{/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js}"></script>
<script  th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script  th:src="@{/js/popper.min.js}"></script>
<script  th:src="@{/js/bootstrap.min.js}"></script>
<script  th:src="@{/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script  th:src="@{/plugins/raphael/raphael.min.js}"></script>
<script  th:src="@{/plugins/morris/morris.min.js}"></script>
<script  th:src="@{/js/chart.morris.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>

</html>
